@font-face {
    font-family: 'Migra';
    src: url('../fonts/Migra-Extrabold.woff2') format('woff2');
    font-weight: 100 900;
    font-display: swap;
    font-style: normal;
 }
body {
    margin: 0;
    background-image: url(../images/backgroundNoisePattern.jpeg);
    background-repeat: repeat;
    background-color: black;
    box-sizing: content-box;
}
 .headerNav {
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 5px;
     box-sizing: content-box;
 }
 header {
    text-align: center;
    box-sizing: border-box;
 }
 /*
#logoContainer {
    background-image: url(../images/lancelogo.svg);
    background-size: cover;
    background-repeat: no-repeat;
    display: block;
    height: 50px;
    width: 200px;
    padding: 2% 2%;
}
*/
#logoContainer {
    height: 50px;
    width: 100px;
    /*border: 1px solid saddlebrown;*/
    padding: 20px ;
}
#headerLinks {
    display: inline;
    height: auto;
    display: flex;
    align-items: center;
}

 .linkItem {
     width: auto;
     height: 20px;
     display: inline;
     padding-right: 30px;
     font-family: 'Migra-Regular';
     font-weight: 500;
     text-align: center;
     justify-content: center;
     color: white;
 }

 #typographyHeading {
     box-sizing: content-box;
     font-family: 'Migra';
     font-weight: 100;
     font-size: 10em;
     display: flex;
     flex-flow: row wrap;
     justify-content: center;
     /*border: 1px solid salmon;*/
     padding-bottom: 40px;
     padding-top: 40px;
 }

 .breakRow {
     flex-basis: 100%;
 }
 
 .titleSection {
     overflow: hidden;
     line-height: 1;
     color:white;
     /*border: 1px solid aqua;*/
     justify-content: center;
     height: 130px;
 }

 .marquee {
    width: 120px;
    height: 121px;
    white-space: nowrap;
    overflow: hidden;
    box-sizing: content-box;
    position: relative;
 }
    .marquee::before {
        position: absolute;
        top: 0;
        width: 120px;
        height: 121px;
        content: "";
        z-index: 1;
        left: 0;
        background: linear-gradient(to right, rgb(15, 15, 15) 10px, transparent 20%);
      }

      .marquee::after {
        position: absolute;
        top: 0;
        width: 120px;
        height: 121px;
        content: "";
        z-index: 1;
        right: 0;
        background: linear-gradient(to left, rgb(15, 15, 15) 10px, transparent 20%);
      }

 .marquee__content {
    width: 300% !important;
    display: flex;
    line-height: 100%;
    animation: marquee 10s linear infinite forwards;
  }
  
 .list-inline {
    display: flex;
    justify-content: space-around;
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  @keyframes marquee {
    0% { transform: translateX(0); }
    100% { transform: translateX(-66.6%); }
  }

  li {
    font-family: sans-serif;
    font-weight: 900;
    color: white;
  }
  .typeHead6 {
      padding-bottom: 70px
  }
  .rotate {
      animation: rotation 10s infinite linear;
  }
  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }
  
  #projectSection {
      font-family: 'Migra';
      padding-top: 10px;
      display: block;
      text-align: center;
      align-content: center;
  }
  .projectPreviews {
      display: inline-flex;
      color: white;
      padding: 20px 20px;
      width: 450px; 
      text-align: center;
      justify-content: center;
      align-items: center;
  }
  .projectImage {
      background-size: cover;
      background-color: white;
      width: 450px;
      height: 250px;
  }
  .projectDescription {
    font-family: Helvetica, sans-serif;
    text-align: center;
  }
  .sectionHeading {
      font-family: 'Migra';
      font-size: 5em;
      color: white;
  }
  .viewProjectButton {
      padding: 10px 20px;
      border-radius: 5px;
      width: 100px;
      background-image: linear-gradient(to bottom right, #cb1860, #d35b2b);
      display: inline-block;
  }
footer {
    font-family: Helvetica, sans-serif;
    padding: 30px 20px 20px 20px;
    color: white;
    display: flex;
    box-sizing: content-box;
    justify-content: space-between;
    background-image: linear-gradient(rgba(0, 0, 0, 0), #000000);
}
#footerLinks {
    display: inline;
    height: auto;
    display: flex;
    align-items: center;
}